<%- include("../layout/header.ejs") %>

<main class="site-main">
    
<%- include("../layout/HomePage/HeroBanner.ejs") %>
<%- include("../layout/HomePage/HeroCarousel.ejs") %>
<%- include("../layout/HomePage/TrendingProductSection.ejs") %>
<%- include("../layout/HomePage/OfferSection.ejs") %>
<%- include("../layout/HomePage/BestSellingItemCarousel.ejs") %>
<%- include("../layout/HomePage/BlogSection.ejs") %>
<%- include("../layout/HomePage/SubscribeSection.ejs") %>
  
</main>

<%- include("../layout/footer.ejs") %>
